/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2015, 10:25:37 AM
    Author     : Filip
*/
body {
    background-color: #EAEAEA;
    font-family: verdana, arial, sans-serif;
    font-size: 14px;    
    margin-left: auto;
    margin-right: auto;    
    width: 95%;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #ffffff;    
    background-color: #526F60;
    background-size: 250px;
    background-repeat: no-repeat;    
    padding-top: 15px;
    padding-bottom: 15px;    
    width: 100%;     
}

nav#izbornik {
    padding: 5px 5px;
    width: 250px;
    float: left;
}   

#izbornik > ul {
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;    
    width: 150px;
}

#izbornik > ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: #666;    
    border-top-style: groove;
    border-width: 1px;
    border-color: #000;
    padding: 11px 20px;
}

#izbornik > ul li a:hover{
    color: #ffffff;
    background-color: #cf5c3f;     
    padding: 15px 25px;    
    font-family: arial black, sans-serif;    
}

#izbornik > ul li a.active{
    color: #ffffff;
    background-color: #cf5c3f;     
    padding: 15px 25px;    
    font-family: arial black, sans-serif;  
}

#izbornik > ul li:first-child a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none;
}

#izbornik > ul li:last-child a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

footer {
    background-color: #526F60;
    text-align: center;
    color: #ffffff;
    width: 100%;    
    clear: both;    
}

footer > address > a:visited,
footer > address > a {
    color: #ffffff;
}
/*SADRÅ½AJ*/

section#sadrzaj {    
    padding: 5px 5px;
    margin-left: 10px;    
    width: 65%;    
    float: left;
    letter-spacing: 0.01em;
    line-height: 200%;
    text-align: justify;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
}
section#sadrzaj > section > h2, div>h2, section#sadrzaj > section > h1 {
    padding: 10px;
    background-color: #526F60;
    color: white;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.08em;
}
section#sadrzaj > section > h1, section#sadrzaj > section > h2{
    font-weight: bold;
    font-size: 20px;
}

#sadrzaj > section{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
article > u, dt{
    font-size: 15px;
    font-weight: bold;
} 
div {
    text-align: center;
}
table {
    border-collapse: inherit;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

th {
    font-family: arial black, sans-serif; 
    background-color: #526F60;
    border-style: none;
    color: #EAEAEA;
    font-size: 12px;
    padding: 8px; 
}

td {
    background-color:#EAEAEA;
    border-style: none;
    color: #555555;
    padding: 4px;
    font-size: 12px;
}

/*registracija.html*/
form {
    position: relative;
    background-color: white;    
    border-radius: 5px;   
    padding: 15px 15px;    
    margin: 5px;
    width: 500px;
    float: left;   
}

label {
    color: #555555;
    text-align: right;    
    margin-top: 20px;
    margin-bottom: 5px;
    width: 220px;
    float: left;
    clear: both;
    font-family: arial black, sans-serif;
    letter-spacing: 0.05em;
}

input,select, textarea {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 150px;
    padding: 5px;
    float: left;
    font-family: verdana, sans-serif;           
    letter-spacing: 0.03em;
    border-radius: 4px;

} 

#spolm, #spolz{
    margin-top: 2px;
    width: 30px;    
    margin-left: 230px;
    clear: both;
}
.radiotext{
    width: 30px;
    float: left;
    letter-spacing: 0.05em;
}
#obavijest{
    margin-top: 35px;
    width: 20px;
    margin-left: 15px;
}
.gumb {
    background-color: #666;
    color: white;    
    text-transform: uppercase;
    cursor: pointer;    
    padding: 5px; 
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 5px;  
    width: 75px;
    height: 30px;
    text-align: center;
    margin-left: 215px;
    letter-spacing: 0.03em;
} 
button:hover{
    background-color: #cf5c3f;
    width: 80px;
    height: 35px;
    font-family: arial black, sans-serif;
}
#zapamti{
    margin-top: 24px;
    width: 30px;
}
table{
    background-color: white;
}
.slika{
    cursor: pointer;
    margin-left: 25%;
}
#greske{
    color: red;
    letter-spacing: 0.03em;
    font-weight: bold;
}